* {
    outline: 1px black solid;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: #1CED66;
    color: black;
    text-align: center;
    text-shadow: 3px 3px 3px white;
    padding: 10px;
}

nav {

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    padding: 5px;
    
}