* {
}

body {
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: #1CED66;
    color: black;
    text-align: center;
    text-shadow: 3px 3px 3px white;
    padding: 10px;
    font-size: 25px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

a:link {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.navhighlight a {
    float: left;
    display; block; 
    color: yellow;
    text-align: center;
}

main {
    width: 100%;
    color: #2DD1FA;
}

.column {
    column-count: 2;
    float: left;
    margin: 15px;
}

article {
    
}

img {
    float: left;
    padding: 5px;
}

p {
   font-size: 15px;
   text-align: left; 
   display: inline-block;
}

